# directories
env
temp
media
**/__pycache__

# settings
.vscode

# private data
.env
*.sqlite3

# migrations
where_to_go/migrations/*.py

# static
static/admin
static/adminsortable2
static/django_tinymce
static/tinymce